---
layout: default
---

<div class="home">

  <img src="images/Rackspace_Private_Cloud_color.png"
       alt="{{ site.title }}"
       class="site-logo" />

  <header class="post-header">
    <h1 class="post-heading">Production Ready Private Cloud Templates</h1>
  </header>

  <div class="content-section">
    <h2 class="post-heading">About {{ site.template_name }}</h2>
    {% capture about %}{% include about.md %}{% endcapture %}
    {{ about | markdownify }}
  </div>

  <div class="content-section">
    <h2 class="post-heading">Our {{ site.template_name }} Architecture</h2>
    {% capture architecture %}{% include architecture.md %}{% endcapture %}
    {{ architecture | markdownify }}
  </div>

  <div class="content-section">
    <h2 class="post-heading">Design Specifications</h2>
    {% capture design %}{% include design.md %}{% endcapture %}
    {{ design | markdownify }}
    <div class="fancy-btn">
    <a class="btn"
        href="{{ site.latest_release_url }}">
        Download Now
    </a>
    </div>
  </div>
</div>
